<% provide(:title,"Edit comment") %>
<% provide(:button_text,"Save changes") %>
<%= link_to gravatar_for(@comment.user, size:50), @comment.user %>
   <span class="user"><%= link_to @comment.user.name, @comment.user %></span>
   <span class="content"><%=@comment.content %></span>
   <span class="timestamp">
   	Posted <%= time_ago_in_words(@comment.created_at) %> ago.
   	<% if current_user?(@comment.user) %>
 	<% if logged_in? %>
        <%= form_for( @comment ||= current_user.comments.build) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Compose a comment..." %>
        </div>
        <%= f.submit "Comment", class: "btn btn-primary" %>
        <% end %>
        <%end %>
        <%end%>

</span>


  